body {
    background: linear-gradient(5deg, #e9e3e3, #2356A5);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.card {
    border: none;
    border-radius: 12px;
}

.card h4 {
    color: #27272a;
}

.card-format {
    max-width: 420px;
    width: 100%;
}

.btn-primary {
    background-color: #2356A5;
    border-color: #2356A5;
    font-weight: bold !important;
}

.form-check-label,
.form-label,
a {
    color: #27272a;
}

.form-control:focus {
    border-color: #2356A5;
    box-shadow: 0 0 0 0.2rem rgba(249, 115, 22, 0.25);
}

.img-format
{
    width: 100px;
    height: 95px;
    border-radius: 20px;
}

